@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<a asp-controller="Meeting" asp-action="SignIn">SignIn</a>

<h1>Meeting...</h1>