@{
    ViewData["Title"] = "Privacy Policy";
}
<a asp-controller="Meeting" asp-action="SignIn">SignIn</a><br />
<a asp-controller="Meeting" asp-action="GetUserDetails">User details</a><br />
<a asp-controller="Meeting" asp-action="RefreshToken">Refresh Token</a><br />
<a asp-controller="Meeting" asp-action="CreateMeeting">Create Meeting</a><br />
<a asp-controller="Meeting" asp-action="GetAll">Get All Meeting</a><br />
<h1>Meeting...</h1>